@import 'theme/__variables';

#previewContainer{
  text-align: center;
  min-height: 40vh;
}

.time {
    text-align: center;
    font-size: 14pt;
    color: #E0E0E3;
    padding-bottom:20px;
  }
  
#solarImage { 
    width: auto;
    max-width: 100vw;
    height: auto;
    min-height: 10vh;
    max-height: 50vh;
    position: relative;
    padding: 10px;
    margin: auto;
  }

.button {
  background-color: lightblue;
  color: black;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 0.1em;
}