@import 'theme/__variables';

#previewContainer{
  text-align: center;
  min-height: 30vh;
}


.time {
    position: relative;
    top: -30px;
    //text-align: center;
    font-size: 14pt;
    color: #E0E0E3;
  }
  
#solarImage { 
    width: auto;
    max-width: 100vw;
    height: auto;
    min-height: 10vh;
    max-height: 50vh;
    position: relative;
    }

.button {
  position: relative;
  top: -15px;
  background-color: lightblue;
  color: black;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 0.1em;
}