@import 'theme/__variables';

#previewContainer{
  text-align: center;
  min-height: 30vh;
}


.time {
    position: relative;
    top: -30px;
    //text-align: center;
    font-size: 12pt;
    color: #E0E0E3;
    z-index: 3;
  }
  
#solarImageLoading { 
   width: auto;
   max-width: 100vw;
   height: auto;
   min-height: 10vh;
   max-height: 40vh;
   position: relative;
   z-index: 1;
   }

#solarImage {
  height: auto;
  width: auto;
  max-height: 40vh;
  max-width: 100vw;
  z-index: 2;
  position: absolute;
  }

.button {
  position: relative;
  top: -15px;
  background-color: lightblue;
  color: black;
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 0.1em;
}