<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <title>Helioviewer timeline</title>
</head>

<body>
    <h1>Here will be a timeline soon</h1>
    <div id="root"></div>
</body>

</html>
