@import 'theme/__variables';

.chart {
    //height: 200px;
    //min-height: 100px;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.zoombar {
    position: relative;
    z-index: 1;
}

.zoom {
    position: absolute;
    top: 0;
    right: 11px;
    padding: 0.2em 0.4em;
    border: 1px solid lightblue;
    color: lightblue;
    border-radius: 0.1em;
    cursor: pointer;
    transition: all 200ms;
    text-decoration: none;

    &:hover {
        color: black;
        background: lightblue;
    }

    &:active {
        box-shadow: 0 0 0 3px rgba(173, 216, 230, 0.5);
    }
}